.banner {
  text-align: center;
  padding: 2rem;
 /* background: #fffaf3; */
}
.banner-img {
  width: 180px;
  border-radius: 50%;
  margin-bottom: 1rem;
}
h1 {
  font-size: 2.5rem;
  color: #c59d5f;
}
p {
  font-size: 1.2rem;
  color: #333;
}
