.instagram-hashtag {
  background: #fffaf3;
  padding: 2rem;
  border-radius: 16px;
  margin-bottom: 2rem;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btn {
  background: #c59d5f;
  color: #fff;
  padding: 0.7rem 1.5rem;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}
