<div class="event-details">
  <h2>Datos del Evento</h2>
  <div class="location">
    <h3>Jano's Bella Vista 2</h3>
    <p>Av. Gaspar Campos 1582, San Miguel</p>
     <!-- Embebido mapa del salón -->
    <div class="map-embed" aria-label="Mapa del salón">
      <iframe
        title="Mapa - Jano's Bella Vista"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.5152263471687!2d-58.701158799999995!3d-34.56582759999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbdcd8f7d54ff%3A0xe37654e5482b1ea3!2sJano&#39;s%20Bella%20Vista%202!5e0!3m2!1ses!2sar!4v1762638616385!5m2!1ses!2sar"
        width="100%"
        height="300"
        style="border:0"
        allowfullscreen
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
    <a href="https://maps.app.goo.gl/Jg1hsZQTLyeDBYYB9?g_st=iw" target="_blank" class="btn">Llegar al salón</a>
  </div>
  <div class="schedule">
    <strong>Horario de Fiesta</strong>
    <p>18:30hs a 03:30hs</p>
  </div>
  <div class="dresscode">
    <strong>Código de vestimenta</strong>
    <p>Elegante</p>
  </div>
</div>
